@model IEnumerable<PizzaProject.Models.Order>

@{
    ViewBag.Title = "Orders list";
    var rand = Session["rand"];

}


<h2>Orders list</h2>

<table class="table table-responsive table-striped">
    <tr style="text-align:center;">
        <th style="text-align:center;">
            FirstName
        </th>
        <th style="text-align:center;">
            Last Name
        </th>
        <th style="text-align:center;">
            Phone Number
        </th>
        <th style="text-align:center;">
            Email
        </th>
        <th style="text-align:center;">
            OrderDate
        </th>
        <th style="text-align:center;">
            Counter
        </th>
        <th style="text-align:center;"></th>
    </tr>

@foreach (var item in Model)
{
    <tr style="text-align:center;">
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @rand
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.OrderId }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
@{ 
    Session.Contents.RemoveAll();
}